spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/supera
    username: supera
    password: supera
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      fail-on-empty-beans: false

jwt:
  secret: ${JWT_SECRET:change-this-secret}
  expiration: 900000 #15 minutos em milissegundos

logging:
  level:
    root: INFO
    org.springframework.security: INFO
